[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = "==2.4.2"
boto3 = "*"

[dev-packages]
pytest = "*"
awscli = "*"

[requires]
python_version = "3.12"
